<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="Phil - DD">
    <meta name=" theme-color" content="#7289DA">
    <meta property="og:type" content="website">

    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <title>
      <%= title %> | DopeDealers
    </title>

</head>
  <body style="background-color:teal;">

    <section class="section">
        <div class="container">
          <h1 class="title">
            Hello World
          </h1>
          <p class="subtitle">
            My first website with <strong>Bulma</strong>!
          </p>

          <progress class="progress is-small" value="15" max="100">15%</progress>
          <progress class="progress" value="30" max="100">30%</progress>
          <progress class="progress is-medium" value="45" max="100">45%</progress>
          <progress class="progress is-large" value="60" max="100">60%</progress>
        </div>
      </section>
      